.courseCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5em;
    height: 300px;
    border: 1px solid  #12759e;;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

}
.courseCard:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    transform: scale(1.02);
    cursor: pointer;
}
.leftContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    gap: 2em;
}
.leftContainer img {
    width: 50%;
    height: auto;
    border: 1px solid   #12759e;
    border-radius: 4px;
}
.leftContainer h4 {
    font-size: 1.5em;
    font-weight: 500;
    /* margin: 0.5em 0; */
}

.middleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border: 1px solid green; */
    gap: 2em;
    width: 50%;
    height: 90%;
    border-right: 2px ridge  rgba(18, 117, 158, 0.5);;
}
.middleContainer h2 {
    font-size: 2em;
    font-weight: 500;
    /* margin: 0.5em 0; */
}
.middleContainer p {
    font-size: 1.5em;
    font-weight: 400;
    width: 80%;
    height: 50%;
    /* border: 1px solid  #12759e;; */
    /* margin: 0.5em 0; */
}
.rightContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid blue; */
    width: 20%;
    gap: 2em;
}
.rightContainer p {
    text-align: center;
}
